<h2>Groups:</h2>
<div class="groups_list">
    <%groups.forEach(function(group){%>
    <div data-id="<%=group._id%>" class="group" style="border:1px solid black; padding: 5px; margin: 5px">

        <%if(access&8){%>
        <span class="group-ctrl fa fa-arrow-left"></span>
        <span class="group-ctrl fa fa-arrow-right"></span>
        <%}%>

        <%if(access&4){%>
        <span class="group-ctrl fa fa-info"></span>
        <%}%>

        <h3 align="center"><span><%=group.name%></span>(<span><%=group.course%></span>)</h3>

    </div>
    <%});%>
</div>