<h2><%=group.name%> (<%=group.course%>)</h2>

<div id="job_block">

</div>

<table>

    <%group.students.forEach(function(student, index){%>

    <tr data-id="<%=student._id%>">

        <td><%=index + 1%></td>
        <td><img src="../uploads/<%=student.avatar%>" alt="avatar" width="60" height="60"></td>
        <td class="student_name"><%=student.name%></td>
        <td><%=student.date%></td>

        <td>

            <%if(access & 4){%>
            <span class="fa fa-sort-numeric-asc"></span>
            <%}%>

            <%if(access & 8){%>
            <span class="fa fa-minus-circle"></span>
            <%}%>

        </td>

    </tr>

    <%});%>

</table>
