<div class="job_info">
    <label>
        <select>

            <%teacher.subjects.forEach(function(subject){%>
            <option data-id="<%=subject._id%>"><%=subject.name%></option>
            <%});%>

        </select>
    </label>
</div>
<div>
    <label>
        <input type="text" id="job_name" value="Job name">
    </label>
    <br>
    <label>
        <input type="text" id="job_rating" value="Rating">
    </label>
    <br>
    <button id="onJobCreate">Create job</button>
</div>