<h2>Groups:</h2>
<label>
    <select>
        <%groups.forEach(function(group){%>
        <option data-id="<%=group._id%>"><%=group.name + '('+group.course+')'%></option>
        <%});%>
    </select>
</label>
<button id="onStudentVerification">Verification</button>