<div class="subject">

    <label>
        <select>
            <%subjects.forEach(function(subject){%>
            <option data-id="<%=subject._id%>"><%= subject.name %></option>
            <%});%>
        </select>
    </label>
    <button class="remove">-</button>

</div>