<div id="verification_support">

</div>

<div id="verification_main">
    <%if(users.length){%>
    <h2>Not verified users <b>(<%= users.length %>)</b>:</h2>

    <ol id="user_list">
        <%users.forEach(function(user){%>
        <li data-id="<%=user._id%>">
            <img src="../uploads/<%=user.avatar%>" width="60px" height="60px">
            <span class="user_name"><%=user.name%></span>
            <span class="verification_admin fa fa-user-o fa-2x" title="admin"></span>
            <span class="verification_teacher fa fa-user-circle fa-2x" title="teacher"></span>
            <span class="verification_student fa fa-user-circle-o fa-2x" title="student"></span>
            <span class="verification_delete fa fa-trash-o fa-2x" title="delete"></span>
        </li>
        <%});%>
    </ol>
    <%} else {%>
    <h2>All user verificated.</h2>
    <%}%>


</div>