<style>
    .header_component {
        display : flex;
        justify-content: space-around;
        align-items: center;
    }
</style>

<div class="header_component">
    <i class="fa fa-telegram fa-3x"></i>

    <div class="menu">
        <a href="#main">Home</a>
        <a href="#teachers">Teachers</a>
        <a href="#groups">Groups</a>
        <% if(false){%>
        <a href="#statistics">Statistics</a>
        <%}
        if(access & 8){
        %>
        <a href="#verification">Verification</a>
        <%}
        if(access & 8){%>
        <a href="#ccp">Central control panel</a>
        <%}%>
    </div>

    <div class="profile">

        <img src="../uploads/<%=avatar%>" width="50px" height="50px" alt="IMG"/>
        <span id="profile_name"><%=name%></span>

        <span>
    [<%=(access & 8 && 'Admin')||(access & 4 && 'Teacher')||(access & 2 && 'Student')||'User'%>]
        </span>

        <button id="onSignOut">Sign out</button>
    </div>

</div>