<style>
    div.chart_group, .chart_courses, .chart_subject {
        font-family: sans-serif;
        font-size: 0.7em;
    }

    div.bar {
        background-color: DarkRed;
        color: white;
        height: 3em;
        line-height: 3em;
        padding-right: 1em;
        margin-bottom: 2px;
        text-align: right;
        /*float:left;*/
    }

    div.label {
        height: 3em;
        line-height: 3em;
        padding-right: 1em;
        margin-bottom: 2px;
        width: 20em;
    }
</style>

<div class="statistics_group">
    <h3>Groups:</h3>
    <div class="chart_group"></div>
</div>
<hr>

<div class="statistics_courses">
    <h3>Courses:</h3>
    <div class="chart_courses"></div>
</div>
<hr>

<div class="statistics_subject">
    <h3>Subjects:</h3>
    <div class="chart_subject"></div>
</div>
<hr>