<h2>Groups:</h2>

<ul>

    <%groups.forEach(function(group){%>

    <li data-id="<%=group._id%>">
        <span><%=group.name%> (<%=group.course%>)</span>
        <span class="group fa fa-pencil"></span>
        <span class="group fa fa-trash"></span>
    </li>

    <%});%>

</ul>

<hr>
<br>
<br>
<h4>Name:
    <label>
        <input type="text" id="newGroupName" value="name">
    </label>
    <button id="onCreateGroup">Create group</button>
</h4>
<br>
<br>
<hr>