<h2>Subjects:</h2>

<ul>

    <%subjects.forEach(function(subject){%>

    <li data-id="<%=subject._id%>">
        <span><%=subject.name%></span>
        <span class="subject fa fa-pencil"></span>
        <span class="subject fa fa-trash"></span>
    </li>

    <%});%>

</ul>

<hr>
<br>
<br>
<h4>Name:
    <label>
        <input type="text" id="newSubjectName" value="name">
    </label>
    <button id="onCreateSubject">Create subject</button>
</h4>
<br>
<br>
<hr>