<h2>Teachers:</h2>

<div id="teacher_support"></div>

<div class="teachers_list">

    <%teachers.forEach(function(teacher){%>
    <div class="teacher-item" data-id="<%=teacher._id%>" style="border: 1px solid black; padding:5px">
        <%if(access&8){%>
        <span class="ctrl fa fa-pencil"></span>
        <span class="ctrl fa fa-trash-o"></span>
        <%}%>

        <h2><%=teacher.name%></h2>

        <img src="../uploads/<%=teacher.avatar%>" width="150px" height="150px" alt="teacher photo"/>

        <%if(teacher.subjects.length){%>
        <h3>Subjects:</h3>

        <ul>
            <%teacher.subjects.forEach(function(subject){%>
            <li><%=subject.name%></li>
            <%});%>
        </ul>
        <%}%>
    </div>

    <br>
    <br>
    <%});%>

</div>
