<h1>Forgot password:</h1>
<form>
    <label>
        Mail: <input type="text" id="mail"/>
    </label>
    <br/>
    <label>
        Secret question: <input type="password" id="secretQuestion"/>
    </label>

    <p>
        <button id="onForgotPassword">Change password</button>
    </p>

    <a href="#signIn">Sign in</a>

</form>