<h1>Login</h1>
<form>
    <label>
        Email:
        <input type="text" id="mail">
    </label>
    <br/>
    <label>
        Password:
        <input type="password" id="password">
    </label>
    <br/>
    <button id="onSignIn" type="button">Login</button>
</form>
<ul>
    <li><a href="#forgotPassword">Forgot Password?</a></li>
    <li><a href="#signUp">Sign Up</a></li>
</ul>