<h1>Sign Up</h1>
<form>
    <label>
        Name: <input type="text" id="name"/>
    </label>
    <br/>
    <label>
        Date: <input type="text" id="date"/>
    </label>
    <br/>
    <label>
        Mail: <input type="text" id="mail"/>
    </label>
    <br/>
    <label>
        Phone: <input type="text" id="phone"/>
    </label>
    <br/>
    <br/>
    <label>
        Password: <input type="password" id="password"/>
    </label>
    <label>
        Secret question: <input type="password" id="secretQuestion"/>
    </label>
    <input id="fileInput" type="file" accept=".jpg">
    <!--<img src="../uploads/7e">-->
    <p>
        <button id="onSignUp" type="button">Sign up</button>
    </p>

    <a href="#signIn">Sign in</a>

</form>